body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600vw;
    padding: 20px;
    text-align: center;
    background-color:cornflowerblue;
}

.info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}
.input-group { 
    margin-bottom: 1rem; 
} 
.input-group label { 
    display: block; margin-bottom: 0.25rem; 
} 
.input-group input, .input-group textarea, 
.input-group select { 
    width: 100%; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
} 
.input-group textarea { 
    resize: vertical; 
} 
.input-group select { 
    cursor: pointer; 
} 
.input-group .optional { 
    margin-top: 0.5rem; 
} 
.input-group .optional label { 
    margin-bottom: 0.125rem; 
} 
.input-group .optional input[type="checkbox"] { 
    margin-right: 0.5rem; 
} 