
.container {
    max-width: 600vw;
    padding: 2px;
    text-align: left;
    background-color:rgb(140, 25, 216);
    color: #f9f9fa;
    font-size: 12px;
    height: 10vh;
}
.geral-container{
    padding: 9px;
background-color: rgb(221, 206, 235);
}
h1{
    font-size: 20px;
}
p{
    font-size: 15px;
    margin-top: -50px;
}
.info-container{
   margin-left: 20vw;
   margin-right: 20vw;
    background: #f9f9fa;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    line-height: 8vh;
    margin-top: -40px;
   
}
.opicoes{
    align-items: right;
    flex-direction: column;
}